
.cookie {
    position: fixed;
    justify-content: center;
    align-items: center;
    display: flex;
    background: #0734ca;
    width: 100vw;
    bottom: 0;
    height:400px;
    gap:15px;
    flex-direction: column;

}
#span1 {
    justify-content: center;
    align-items: center;
    display: flex;
    font-size:30px;;
    position: relative;
}
.accept
{
font-size:30px;
text-align: center;
gap: 20px;
justify-content: center;
align-items: center;
}


.hide {
    display: none;
}